body{
	background-image: url("http://getwallpapers.com/wallpaper/full/9/d/d/309594.jpg");
	margin: 10px;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
	color:white;
}

a {
text-decoration: none;
color:white;
}

.col-md-6{
  color:white;
  font-size: 35px;
  font-weight: lighter;
  font-family: fantasy;
}
h1 {
	color: white;
	font-style: normal;
	font-weight: lighter;
	font-size: 50px;
	font-family: Courier;
	margin: 20px 300px 12px;
}
@font-face {

      font-family: fantasy;

      }
.L{
	font-size:60px;
	top:24%;
	left:35%;
	position:absolute;
	color:white;
	font-family: fantasy;
	animation-name:pup;
	animation-duration:2s;
	animation-iteration-count: 2;
	transition-timing-function: ease-in-out;

}
.A{
	font-size:60px;
	top:24%;
	left:40%;
	position:absolute;
	color:white;
font-family: fantasy;
	animation-name:pup2;
	animation-duration:2s;
	animation-iteration-count: 2;
transition-timing-function: ease-in-out;
}
.T{
	font-size:60px;
	top:24%;
	left:45%;
	position:absolute;
	color:white;
	font-family: fantasy;
	animation-name:pup3;
	animation-duration:2s;
	animation-iteration-count: 2;
	transition-timing-function: ease-in-out;
}

.A1{
	font-size:60px;
	top:24%;
	left:50%;
	position:absolute;
	color:white;
	font-family: fantasy;
	animation-name:pup4;
	animation-duration:2s;
	animation-iteration-count: 2;
	transition-timing-function: ease-in-out;
}
.Y{
	font-size:60px;
	top:24%;
	left:55%;
	position:absolute;
	color:white;
	font-family: fantasy;
	animation-name:pup5;
	animation-duration: 2s;
	animation-iteration-count: 2;
	transition-timing-function: ease-in-out;
}

@keyframes pop{
	from{background-color:transparent;left:0%;}
	100%{background-color:rgba(0,0,0,0.1);left:35%;}
}
@keyframes pup{
	from{transform:rotateY(0deg);}
	50%{left:32%;transform:rotateY(180deg);transform:rotateX(0deg);}
	75%{left:35%;transform:rotateY(360deg);transform:rotateX(0deg);}
	100%{left:35%;transform:rotateX(360deg);}

}
@keyframes pup2{
	from{transform:rotateY(0deg);}
	50%{left:35%;transform:rotateY(180deg);transform:rotateX(0deg);}
	75%{left:40%;transform:rotateY(360deg);transform:rotateX(0deg);}
	100%{left:40%;transform:rotateX(360deg);}

}
 @keyframes pup3{
	from{transform:rotateY(0deg);}
	50%{left:35%;transform:rotateY(180deg);transform:rotateX(0deg);}
	75%{left:45%;transform:rotateY(360deg);transform:rotateX(0deg);}
	100%{left:45%;transform:rotateX(360deg);}

}
@keyframes pup4{
	from{transform:rotateY(0deg);}
	50%{left:35%;transform:rotateY(180deg);transform:rotateX(0deg);}
	75%{left:50%;transform:rotateY(360deg);transform:rotateX(0deg);}
	100%{left:50%;transform:rotateX(360deg);}

}
@keyframes pup5{
	from{transform:rotateY(0deg);}
	50%{left:35%;transform:rotateY(180deg);transform:rotateX(0deg);}
	75%{left:55%;transform:rotateY(360deg);transform:rotateX(0deg);}
	100%{left:55%;transform:rotateX(360deg);}

}
h2{
color: white;
font-style: normal;
font-weight: lighter;
font-size: 35px;
font-family: fantasy;
}
p{
	color: white;
  font-family: monospace;
	text-indent: 20px;
	font-size: 18px;
	margin-bottom: auto;
	margin-top: auto;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.column img {
    margin-top: 12px;
		border: 3px solid black;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}
